<div th:fragment="popup-plats">
    <div class="modal" id="modal-container-plats" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1> Choisissez votre plat </h1>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div style="background-color: beige; box-shadow: 1px 1px 12px #555; text-align: center; margin-top: 5%;"
                                 th:each="accompagnement: ${accompagnements}" class="col-sm-3 offset-sm-2">
                                <p th:text="${accompagnement.value}"> </p>
                                <img th:src="'images/'+ ${accompagnement.value} + '.png'" alt="Plat" style="margin-bottom: 5%"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Confirmer</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="closePlat();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>