<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="../../static/bootstrap/js/jquery.min.js" th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-tooltip.js" th:src="@{/bootstrap/js/bootstrap-tooltip.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-confirmation.js"  th:src="@{/bootstrap/js/bootstrap-confirmation.js}"></script>
    <script src="../../static/js/popupConfirm.js" th:src="@{/js/popupConfirm.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>

        body {
            margin-top : 2%;
        }

        h1 {
            text-align: center;
        }

        button, h2 {
            margin: 5%;
            text-align: center;
        }

        .modal.custom .modal-dialog{
            box-shadow: 0px 0px 40px black;
        }

        .notSelected {
            opacity: 0.33;
        }

        .commande {
            text-align: center;
        }

    </style>

    <script th:inline="javascript">


        var ajoutCommande = [];

        $(document).ready(function () {

            $('#select-menus').click(function() {
                $('#modal-container-menus').show();
            });

            $('#select-plats').click(function() {
                $('#modal-container-plats').show();
            });

            $('#select-boissons').click(function() {
                $('#modal-container-boissons').show();
            });

            $('#select-accompagnements').click(function() {
                $('#modal-container-accompagnements').show();
            });

        });

        //Vérifier si les éléments sont biens sélectionnés
        function getnbNotSelected(idParents){
            var niceComposition = true;
            idParents.forEach((item, index) => {
                var nb = 0;
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //S'il n'a pas la class notSelected -> alors l'ajouter à la commande
                    if(!selected) {
                        nb += 1;
                    }
                }

                /*
                if(niceComposition && nb == 1){
                    niceComposition = true;
                }
                else {
                    niceComposition = false;
                }
                 */

                niceComposition = niceComposition && nb == 1;
            });

            return niceComposition;
        }

        //Fermeture de la modal
        function closeModal(id, idParents){
            idParents.forEach((item, index) => {
                $("#" + item).children().removeClass('notSelected');
            });
            $(id).hide();

            ajoutCommande = [];
        }

        //Quand on clique sur une élément changer le style
        function selected(element, idParent){
            $("#" + idParent).children().addClass('notSelected');
            $('#' + element.id).removeClass('notSelected');
        }

        //Quand bouton confirmé cliqué dans la modale
        function validate(id, idParents) {
            var possible = false;
            var niceComposition = getnbNotSelected(idParents);

            //Récupérer les éléments sélectionnés
            idParents.forEach((item, index) => {
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //Ajouter les éléments si la composition est bonne et s'il est sélectionné
                    if(niceComposition && !selected) {
                        possible = true;
                        ajoutCommande.push(childrens.get(i).className.split(" ")[0]);
                    }
                }
            });

            //Après faire le traitement en java une fois les éléments récupérés
            if(niceComposition && possible) {
                addElementToOrder(idParents);
                closeModal(id, idParents);
            }

        }

        //Transferrer les données au java
        function addElementToOrder(idParents) {

            //Si c'est un menu
            if(idParents.length == 3) {

                $.ajax({
                    type: "GET",
                    url : "/index/menu/" + ajoutCommande[0] + "/" + ajoutCommande[1] + "/" + ajoutCommande[2],
                    success : function(data, textStatus, xhr) {
                        if(xhr.status == 200){
                            getCommande();
                        }
                    },
                    error : function(request, error) {
                        console.error(error);
                        console.debug(request);
                    }
                });

            }
            else {
                var type = '';
                //Si c'est un plat
                if(idParents[0] == 'containerPlats') {
                    type = 'plat';

                }
                //Si c'est un accompagnement
                else if(idParents[0] == 'containerAccompagnements') {
                    type = 'accompagnement';
                }
                //Si c'est une boisson
                else{
                    type = 'boisson';
                }

                $.ajax({
                    type: "GET",
                    url : "/index/"+ type +"/" + ajoutCommande[0],
                    success : function(data, textStatus, xhr) {
                        if(xhr.status == 200){
                            getCommande();
                        }
                    },
                    error : function(request, error) {
                        console.error(error);
                        console.debug(request);
                    }
                });

            }

        }

        function getCommande() {
            $.ajax({
                type: "GET",
                url : "/index/commande",
                success : function(data, textStatus, xhr) {
                    if(xhr.status == 200){
                        console.log(data);

                        var accompagnementList = data.accompagnementList;
                        var boissonList = data.boissonList;
                        var platList = data.platList;
                        var menuList = data.menuList;

                        var $content = $('#contentOrder');
                        $content.empty();

                        for( let i=0 ; i<accompagnementList.length ; i++) {
                            $content.append(`<p> 1x ${accompagnementList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<boissonList.length ; i++) {
                            $content.append(`<p> 1x ${boissonList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<platList.length ; i++) {
                            $content.append(`<p> 1x ${platList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<menuList.length ; i++) {
                            $content.append(`<p> 1x Menu : ${menuList[i].plat.nom} + ${menuList[i].accompagnement.nom} + ${menuList[i].boisson.nom} </p>`);
                        }

                    }
                },
                error : function(request, error) {
                    console.error(error);
                    console.debug(request);
                }
            });
        }

    </script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-10">
                <h1 th:text="'Bienvenue ' + ${borne.getInstance().getClient().getNom()}"> </h1>

                <hr style="margin: 5% 25% 3%">

                <div class="container-fluid">
                    <div class="row">
                        <h2 class="col-sm-6 offset-sm-3"> Faites votre choix : </h2>
                        <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-menus" type="button"> Commander un menu </button>
                        <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-plats" type="button"> Commander un plat seul </button>
                        <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-boissons" type="button"> Commander une boisson seul</button>
                        <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-accompagnements" type="button"> Commander un accompagnement seul </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-2 commande" style="border-left: 1px solid">

                <p> Commande actuelle : </p>
                <br>

                <div id="contentOrder">

                </div>

            </div>


        </div>
    </div>


    <!-- Modal Window -->

    <div th:replace="fragments/popup-menus :: popup-menus"></div>
    <div th:replace="fragments/popup-plats :: popup-plats"></div>
    <div th:replace="fragments/popup-boissons :: popup-boissons"></div>
    <div th:replace="fragments/popup-accompagnements :: popup-accompagnements"></div>


</body>
</html>