<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="../../static/bootstrap/js/jquery.min.js" th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-tooltip.js" th:src="@{/bootstrap/js/bootstrap-tooltip.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-confirmation.js"  th:src="@{/bootstrap/js/bootstrap-confirmation.js}"></script>
    <script src="../../static/js/popupConfirm.js" th:src="@{/js/popupConfirm.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>


        h1 {
            text-align: center;
        }

        button, h2 {
            margin: 5%;
            text-align: center;
        }

        .modal.custom .modal-dialog{
            box-shadow: 0px 0px 40px black;
        }

        .notSelected {
            opacity: 0.33;
        }

        .commande {
            text-align: center;
        }

    </style>

    <script th:inline="javascript">


        var ajoutCommande = [];

        $(document).ready(function () {

            $('#select-menus').click(function() {
                $('#modal-container-menus').show();
            });

            $('#select-plats').click(function() {
                $('#modal-container-plats').show();
            });

            $('#select-boissons').click(function() {
                $('#modal-container-boissons').show();
            });

            $('#select-accompagnements').click(function() {
                $('#modal-container-accompagnements').show();
            });


        });

        //Vérifier si les éléments sont biens sélectionnés
        function getnbNotSelected(idParents){
            var niceComposition = true;
            idParents.forEach((item, index) => {
                var nb = 0;
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //S'il n'a pas la class notSelected -> alors l'ajouter à la commande
                    if(!selected) {
                        nb += 1;
                    }
                }

                /*
                if(niceComposition && nb == 1){
                    niceComposition = true;
                }
                else {
                    niceComposition = false;
                }
                 */

                niceComposition = niceComposition && nb == 1;
            });

            return niceComposition;
        }

        //Fermeture de la modal
        function closeModal(id, idParents){
            idParents.forEach((item, index) => {
                $("#" + item).children().removeClass('notSelected');
            });
            $(id).hide();

            ajoutCommande = [];
        }

        //Quand on clique sur une élément changer le style
        function selected(element, idParent){
            $("#" + idParent).children().addClass('notSelected');
            $('#' + element.id).removeClass('notSelected');
        }

        //Quand bouton confirmé cliqué dans la modale
        function validate(id, idParents) {
            var possible = false;
            //Vérifier la validité des informations
            var niceComposition = getnbNotSelected(idParents);

            //Récupérer les éléments sélectionnés
            idParents.forEach((item, index) => {
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //Ajouter les éléments si la composition est bonne et s'il est sélectionné
                    if(niceComposition && !selected) {
                        possible = true;
                        ajoutCommande.push(childrens.get(i).className.split(" ")[0]);
                    }
                }
            });

            //Après faire le traitement en java une fois les éléments récupérés
            if(niceComposition && possible) {
                addElementToOrder(idParents);
                closeModal(id, idParents);
            }

        }

        //Transferrer les données au java
        function addElementToOrder(idParents) {
            //Si c'est un menu
            if(idParents.length == 3) {

                $.ajax({
                    type: "POST",
                    url : "/index/menu/" + ajoutCommande[0] + "/" + ajoutCommande[1] + "/" + ajoutCommande[2],
                    success : function(data, textStatus, xhr) {
                        if(xhr.status == 200){
                            getCommande();
                        }
                    },
                    error : function(request, error) {
                        console.error(error);
                        console.debug(request);
                    }
                });

            }
            else {
                var type = '';
                //Si c'est un plat
                if(idParents[0] == 'containerPlats') {
                    type = 'plat';

                }
                //Si c'est un accompagnement
                else if(idParents[0] == 'containerAccompagnements') {
                    type = 'accompagnement';
                }
                //Si c'est une boisson
                else{
                    type = 'boisson';
                }

                $.ajax({
                    type: "POST",
                    url : "/index/"+ type +"/" + ajoutCommande[0],
                    success : function(data, textStatus, xhr) {
                        if(xhr.status == 200){
                            getCommande();
                        }
                    },
                    error : function(request, error) {
                        console.error(error);
                        console.debug(request);
                    }
                });

            }

        }

        // Récupérer les éléments de la commande
        function getCommande() {
            $.ajax({
                type: "GET",
                url : "/index/commande",
                success : function(data, textStatus, xhr) {
                    if(xhr.status == 200){

                        //Les différentes listes de la commande
                        var accompagnementList = data.accompagnementList;
                        var boissonList = data.boissonList;
                        var platList = data.platList;
                        var menuList = data.menuList;

                        var $content = $('#contentOrder');
                        $content.empty();

                        //Ajouter les éléments dans la partie CommandeActuelle
                        for( let i=0 ; i<accompagnementList.length ; i++) {
                            $content.append(`<p> 1x ${accompagnementList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<boissonList.length ; i++) {
                            $content.append(`<p> 1x ${boissonList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<platList.length ; i++) {
                            $content.append(`<p> 1x ${platList[i].nom} </p>`);
                        }

                        for( let i=0 ; i<menuList.length ; i++) {
                            $content.append(`<p> 1x Menu : ${menuList[i].plat.nom} + ${menuList[i].accompagnement.nom} + ${menuList[i].boisson.nom} </p>`);
                        }

                        $('#prixTotal').html('Prix total : ' + data.prixTotal + '€');
                        if($("#contentOrder").children().length != 0){
                            $("#payOrder").prop("disabled",false);
                            $("#modifyOrder").prop("disabled",false);
                        }
                        else {
                            $("#payOrder").prop("disabled",true);
                            $("#modifyOrder").prop("disabled",true);
                        }


                    }
                },
                error : function(request, error) {
                    console.error(error);
                    console.debug(request);
                }
            });
        }

        //Traitement quand on clique sur le bouton "payer" -> traitement java
        function payer() {
            $.ajax({
                type: "GET",
                url : "/index/payer",
                success : function(data, textStatus, xhr) {
                    if(xhr.status == 200) {

                        $("#doneMessage").html(data);
                        $('#modal-container-payement').show();

                    }
                },
                error : function(request, error) {
                    console.error(error);
                    console.debug(request);
                }
            });
        }

        //traitement quond on clique sur le bouton "modifier"
        function modifier() {

            $.ajax({
                type: "GET",
                url : "/index/commande",
                success : function(data, textStatus, xhr) {
                    if(xhr.status == 200){

                        //Les différentes listes de la commande
                        var accompagnementList = data.accompagnementList;
                        var boissonList = data.boissonList;
                        var platList = data.platList;
                        var menuList = data.menuList;

                        var $content = $('#modifyCommande');
                        $content.empty();

                        //Ajouter les éléments dans le corps de la modal
                        for( let i=0 ; i<accompagnementList.length ; i++) {
                            $content.append(`<p class="col-sm-7"> 1x ${accompagnementList[i].nom} </p>`);
                            $content.append(`<button style="color: white; background-color: #C2123A;" class='col-sm-3 offset-sm-1 btn btn-danger' onclick="remove(${i}, 'accompagnement');" type='button'> Supprimer </button>`);
                        }

                        for( let i=0 ; i<boissonList.length ; i++) {
                            $content.append(`<p class="col-sm-7"> 1x ${boissonList[i].nom} </p>`);
                            $content.append(`<button style="color: white; background-color: #C2123A;" class='col-sm-3 offset-sm-1 btn' onclick="remove(${i}, 'boisson');" type='button'> Supprimer </button>`);
                        }

                        for( let i=0 ; i<platList.length ; i++) {
                            $content.append(`<p class="col-sm-7"> 1x ${platList[i].nom} </p>`);
                            $content.append(`<button style="color: white; background-color: #C2123A;" class='col-sm-3 offset-sm-1 btn' onclick="remove(${i}, 'plat');" type='button'> Supprimer </button>`);
                        }

                        for( let i=0 ; i<menuList.length ; i++) {
                            $content.append(`<p class="col-sm-7"> 1x Menu : ${menuList[i].plat.nom} + ${menuList[i].accompagnement.nom} + ${menuList[i].boisson.nom} </p>`);
                            $content.append(`<button style="color: white; background-color: #C2123A;" class='col-sm-3 offset-sm-1 btn' onclick="remove(${i}, 'menu');" type='button'> Supprimer </button>`);
                        }

                        $('#modal-container-modifier').show();

                    }
                },
                error : function(request, error) {
                    console.error(error);
                    console.debug(request);
                }
            });
        }

        //Fonction pour retirer un élément de la commande
        // -> transférer le type et le numéro de l'élément au java pour le traiter
        function remove(index, type) {

            $.ajax({
                type: "DELETE",
                url : "/index/delete/" + index +"/"+ type,
                success : function(data, textStatus, xhr) {
                    if(xhr.status == 200) {
                        //Mettre à jour l'affichage
                        getCommande();
                        $("#modal-container-modifier").hide();
                    }
                },
                error : function(request, error) {
                    console.error(error);
                    console.debug(request);
                }
            });

        }

        //Fonction pour l'affichage de l'historique des menus
        function historique() {

            //Récupération du client
            var client = [[${client}]];
            console.log(client);

            var $content = $("#historique");
            $content.empty();

            //Pour toutes les commandes du client
            for(let i=0 ; i<client.historiqueCommandes.length ; i++) {
                var commande = client.historiqueCommandes[i];
                var $row = $(`<div class="row"></div>`);

                //Créer une table
                var $table = $(`<table style="text-align: center;" class="col-sm-8"></table>`)
                var $thead = $(`<thead>
                                <tr>
                                  <th scope="col">Menu</th>
                                  <th scope="col">Plat</th>
                                  <th scope="col">Accompagnement</th>
                                  <th scope="col">Boisson</th>
                                </tr>
                             </thead>
                            `);
                $table.append($thead);

                //Ajouter tous les éléments de la commande dans le tableau
                //Les menus
                for(let j=0 ; j<commande.menuList.length ; j++) {
                    $table.append(`<tr>
                                    <td> OK </td>
                                    <td>${commande.menuList[j].plat.nom}</td>
                                    <td>${commande.menuList[j].accompagnement.nom}</td>
                                    <td>${commande.menuList[j].boisson.nom}</td>
                                </tr>`);
                }

                //Les plats uniques
                for(let j=0 ; j<commande.platList.length ; j++) {
                    $table.append(`<tr>
                                    <td> X </td>
                                    <td>${commande.platList[j].nom}</td>
                                    <td> X </td>
                                    <td> X </td>
                                </tr>`);
                }

                //Les accompagnements uniques
                for(let j=0 ; j<commande.accompagnementList.length ; j++) {
                    $table.append(`<tr>
                                    <td> X </td>
                                    <td> X </td>
                                    <td>${commande.accompagnementList[j].nom}</td>
                                    <td> X </td>
                                </tr>`);
                }

                //Les boissons uniques
                for(let j=0 ; j<commande.boissonList.length ; j++) {
                    $table.append(`<tr>
                                    <td> X </td>
                                    <td> X </td>
                                    <td> X </td>
                                    <td>${commande.boissonList[j].nom}</td>
                                </tr>`);
                }


                //Ajouter  les éléments à la div
                $row.append(`<p class="col-sm-4"> Le ${client.historiqueCommandes[i].dateValidation} </p>`)
                $row.append($table);

                $content.append($row);
                $content.append(`<hr>`)
            }



            $("#modal-container-historique").show();
        }

    </script>
</head>

<body style="background-color: #F7F0EF;">

    <header>
        <div style="min-height: 5px; background-color: #8EAB9C;"></div>
        <div style="min-height: 5px; background-color: #427387;"></div>
        <div style="min-height: 5px; background-color: #4A275A;"></div>
        <div style="min-height: 5px; background-color: #C2123A;"></div>
        <div style="min-height: 5px; background-color: #ECC597;"></div>
        <div style="min-height: 5px; background-color: #EAE2BE;"></div>
    </header>

    <div style="margin: 0.5%; background-image: url('images/background.png'); border-radius: 4px; box-shadow: 1px 1px 12px #555; padding: 1%;">
        <div class="container-fluid">
            <div class="row">

                <!-- Corps principal de la page -->
                <div class="col-sm-10">

                    <h1 th:text="'Bienvenue ' + ${borne.getInstance().getClient().getNom()}"> </h1>

                    <hr style="margin: 5% 25% 3%">

                    <!-- Les boutons -->
                    <div class="container-fluid">
                        <div class="row">
                            <h2 class="col-sm-6 offset-sm-3"> Faites votre choix : </h2>
                            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-menus" type="button"> Commander un menu </button>
                            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-plats" type="button"> Commander un plat seul </button>
                            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-boissons" type="button"> Commander une boisson seul</button>
                            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-accompagnements" type="button"> Commander un accompagnement seul </button>
                        </div>
                    </div>
                </div>

                <!-- Partie commande -->

                <div class="col-sm-2 commande" style="border-left: 1px solid">

                    <p> Commande actuelle : </p>
                    <hr>

                    <div id="contentOrder" style="color: sandybrown">

                    </div>

                    <hr>
                    <p id="prixTotal" th:text="'Prix total : ' + ${borne.commande.prixTotal} + '€'"> Prix total : </p>

                    <br>
                    <button class="col-sm-11 btn btn-primary" style="background-color: #427387;" id="modifyOrder" onclick="modifier()" type="button" disabled> Modifier la commande </button>
                    <button class="col-sm-11 btn btn-success" style="background-color: #8EAB9C;" id="payOrder" onclick="payer()" type="button" disabled> Payer la commande </button>
                </div>


            </div>
        </div>


        <!-- Modal Window -->

        <div th:replace="fragments/popup-menus :: popup-menus"></div>
        <div th:replace="fragments/popup-plats :: popup-plats"></div>
        <div th:replace="fragments/popup-boissons :: popup-boissons"></div>
        <div th:replace="fragments/popup-accompagnements :: popup-accompagnements"></div>
        <div th:replace="fragments/popup-payement :: popup-payement"></div>
        <div th:replace="fragments/popup-modifier :: popup-modifier"></div>
        <div th:replace="fragments/popup-historique :: popup-historique"></div>

        <footer>
            <div class="container-fluid">
                <div class="row">
                    <button class="col-sm-3 offset-sm-1 btn btn-warning" style="color: white; background-color: #ECC597;" id="historic" onclick="historique()" type="button"> Historique des commandes </button>
                    <button class="col-sm-3 offset-sm-1 btn btn-danger" style="background-color: #C2123A;" id="logout" onclick="window.location.replace('/');" type="button"> Se déconnecter </button>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>