<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="../../static/bootstrap/js/jquery.min.js" th:src="@{/bootstrap/js/jquery.min.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-tooltip.js" th:src="@{/bootstrap/js/bootstrap-tooltip.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap-confirmation.js"  th:src="@{/bootstrap/js/bootstrap-confirmation.js}"></script>
    <script src="../../static/js/popupConfirm.js" th:src="@{/js/popupConfirm.js}"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <style>

        body {
            margin-top : 2%;
        }

        h1 {
            text-align: center;
        }

        button, h2 {
            margin: 5%;
            text-align: center;
        }

        .modal.custom .modal-dialog{
            box-shadow: 0px 0px 40px black;
        }

        .notSelected {
            opacity: 0.33;
        }

    </style>

    <script th:inline="javascript">


        var ajoutCommande = [];

        $(document).ready(function () {

            $('#select-menus').click(function() {
                $('#modal-container-menus').show();
            });

            $('#select-plats').click(function() {
                $('#modal-container-plats').show();
            });

            $('#select-boissons').click(function() {
                $('#modal-container-boissons').show();
            });

            $('#select-accompagnements').click(function() {
                $('#modal-container-accompagnements').show();
            });

        });

        //Récupérer le nombre d'élément non sélectionner dans la modal
        function getnbNotSelected(idParents){
            var niceComposition = false;
            idParents.forEach((item, index) => {
                var nb = 0;
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //S'il n'a pas la class notSelected -> alors l'ajouter à la commande
                    if(!selected) {
                        nb += 1;
                    }
                }

                if(nb == 1){
                    niceComposition = true;
                }
                else {
                    niceComposition = false;
                }
            });

            return niceComposition;
        }

        function getAjoutCommande(){
            console.log(ajoutCommande);
        }

        function closeModal(id, idParents){
            idParents.forEach((item, index) => {
                $("#" + item).children().removeClass('notSelected');
            });
            $(id).hide();

            ajoutCommande = [];
        }


        function selected(element, idParent){

            $("#" + idParent).children().addClass('notSelected');
            $('#' + element.id).removeClass('notSelected');
        }

        function validate(idParents){
            var niceComposition = getnbNotSelected(idParents);
            console.log(niceComposition);
            //Récupérer les éléments sélectionnés
            idParents.forEach((item, index) => {
                var childrens = $("#" + item).children();
                for(let i=0 ; i<childrens.length ; i++){
                    var classes = childrens.get(i).className.split(" ");
                    var selected = (classes.indexOf("notSelected") > -1);

                    //S'il n'a pas la class notSelected -> alors l'ajouter à la commande
                    if(niceComposition && !selected) {
                        ajoutCommande.push(childrens.get(i).id.split("-")[0]);
                        getAjoutCommande();
                    }
                }
            });

            ajoutCommande = [];
        }

    </script>
</head>

<body>

    <h1 th:text="'Bienvenue ' + ${borne.getInstance().getClient().getNom()}"> </h1>

    <hr style="margin: 5% 25% 3%">

    <div class="container-fluid">
        <div class="row">
            <h2 class="col-sm-6 offset-sm-3"> Faites votre choix : </h2>
            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-menus" type="button"> Commander un menu </button>
            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-plats" type="button"> Commander un plat seul </button>
            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-boissons" type="button"> Commander une boisson seul</button>
            <button class="col-sm-6 offset-sm-3 btn btn-secondary" id="select-accompagnements" type="button"> Commander un accompagnement seul </button>
        </div>
    </div>


    <!-- Modal Window -->

    <div th:replace="fragments/popup-menus :: popup-menus"></div>
    <div th:replace="fragments/popup-plats :: popup-plats"></div>
    <div th:replace="fragments/popup-boissons :: popup-boissons"></div>
    <div th:replace="fragments/popup-accompagnements :: popup-accompagnements"></div>


</body>
</html>