<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-menu.css" />
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/engine-check.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/delivery.css" />

    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Datatables-bootstrap3/datatables.min.js"></script>

</head>
<body>

    <div class="container-fluid">
        <div class="row">

            <h1> Vous avez un compte ? Veuillez indiquer votre identifiant</h1>

            <input type="text" value="Rentrez votre identifiant">
            <button> Se connecter</button>

        </div>
    </div>


    <hr>


    <div class="container-fluid">
        <div class="row">

            <h1 class="col-sm-12" > Pas de compte ? Inscrivez-vous en indiquant votre futur identifiant </h1>
            <input class="col-sm-12" type="text" value="Rentrez votre identifiant">
            <button class="col-sm-12" > S'inscrire </button>

        </div>
    </div>

</body>
</html>