<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>

        html {
            background-color: #F7F0EF;
        }

        body {
            border-radius: 8px;
            margin: 12% 20% 10%;
            padding: 2%;
            background-color: white;
            text-align: center;
            box-shadow: 1px 1px 12px #555;
        }

        h1 {
            font-size: 20px;
        }

        div {
            padding: 0.5%;
        }

    </style>

    <script th:inline="javascript">
        /*<![CDATA[*/
        function getXMLHttpRequest() {
            var xhr = null;
            if (window.XMLHttpRequest || window.ActiveXObject) {
                if (window.ActiveXObject) {
                    try {
                        xhr = new ActiveXObject("Msxml2.XMLHTTP");
                    } catch(e) {
                        xhr = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                } else {
                    xhr = new XMLHttpRequest();
                }
            } else {
                alert("Votre navigateur ne supporte pas l'objet XMLHTTPRequest...");
                return null;
            }

            return xhr;
        }

        //Traitement pour la connection (pour pouvoir envoyer les donner au java et faire le traitement en java)
        function login(){
            //Récupérer les données
            var id = document.getElementById('idLogin').value;

            //La requête AJAX
            var xhr = getXMLHttpRequest();
            xhr.onreadystatechange = function() {

                if (xhr.readyState === 4 && (xhr.status === 200 || xhr.status === 0)) {

                    data = xhr.responseText;

                    if (data.toString() == "Validate") {
                        window.location.replace('/index');
                    }
                    else {
                        document.getElementById('connectionRefusedText').innerHTML = data.toString();
                    }

                }
            }
            xhr.open("GET", "/login/" + id , true);
            xhr.send();

        }


        //Traitement pour l'inscription (pour pouvoir envoyer les donner au java et faire le traitement en java)
        function inscription(){
            //Récupération des champs
            var nom = document.getElementById('nomInput').value;
            var prenom = document.getElementById('prenomInput').value;

            //Requête AJAX
            var xhr = getXMLHttpRequest();

            xhr.onreadystatechange = function() {

                if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {

                    var data = xhr.responseText;

                    document.getElementById("newId").innerHTML = data.toString();
                }
            }

            xhr.open("GET", "/inscription/" + nom +"/"+ prenom, true);
            xhr.send();

        }


        /*]]>*/
    </script>

</head>
<body>

    <div class="container-fluid" style="margin-top: 2%; margin-bottom: 3%;">
        <div class="row">

            <div class="col-sm-12">
                <h1> Vous avez un compte ? <br> Veuillez indiquer votre identifiant </h1>
            </div>

            <div class="col-sm-12 inputElement">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">login</span>
                    <input id="idLogin" type="text" class="form-control" placeholder="identifiant" aria-label="identifiant" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-secondary" onclick="login()"> Se connecter</button>
            </div>

        </div>
    </div>

    <p id="connectionRefusedText"></p>


    <hr style="color: lightgrey;">


    <div class="container-fluid" style="margin-top: 3%; margin-bottom: 2%;">
        <div class="row">

            <div class="col-sm-12">
                <h1> Pas de compte ? <br> Inscrivez-vous en indiquant votre futur identifiant </h1>
            </div>

            <div class="col-sm-12 inputElement">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Nom</span>
                    <input id="nomInput" type="text" class="form-control" placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-sm-12 inputElement">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Prénom</span>
                    <input id="prenomInput" type="text" class="form-control" placeholder="Prénom" aria-label="Prénom" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-sm-12">
                <button class="btn btn-secondary" onclick="inscription();"> S'inscrire </button>
            </div>

        </div>
    </div>

    <p id="newId"></p>


</body>
</html>